.Message {
  position: relative;
  border-left-color: #303030 !important;
  border-right-color: #303030 !important;
  border-bottom-color: #303030 !important;
  border-top-width: 4px !important;
  padding: 35px 72px;
  background-color: #08090a;
  display: inline-block;
  font-size: 1.4rem;
  color: #808080;
}
.Message.has-icon {
  padding-left: 100px;
}

.Message .Message-icon {
  position: absolute;
  top: 20px;
  left: 36px;
  font-size: 2.8rem;
}
