.ReactTable .rt-thead .rt-th {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  color: #f2f2f2;
  text-align: left;
  padding: 16px 12px;
}
.ReactTable .rt-thead .rt-th:first-child {
  padding-left: 0 !important;
}
.ReactTable .rt-thead .rt-th:last-child {
  padding-right: 0 !important;
}

.ReactTable .rt-td {
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  padding: 12px 12px;
}

.ReactTable .rt-td:first-child {
  padding-left: 0 !important;
}
.ReactTable .rt-td:last-child {
  padding-right: 0 !important;
}

.ReactTable .pagination-bottom {
  margin-top: 30px;
}
.ReactTable .-pagination {
  justify-content: flex-end;
}

.BlocksTable .pagination {
  margin-bottom: 0;
}

.BlocksTable .BlocksTable-pageSizes {
  font-size: 0.9rem;
  color: #a6a6a6;
}

.BlocksTable .BlocksTable-pageSizes .form-control {
  font-size: 0.9rem;
}