@import 'src/style/variables';
.Tabs {
  .Tab {
    margin-left: -1px;
    a {
      color: $body-color;
      border-color: $border-color;
      @include mixin-content-padding-x();

      &.active {
        border-top-color: map-get($theme-colors, "primary");
        border-bottom-color: transparent;
      }

      &:hover {
        color: $white;
      }
    }

    &:first-child {
      margin-left: 0; 
    }
  }
  .Tabs-body {
    padding: $content-padding-x;
    border: solid 1px $border-color;
    border-top: none;
    min-height: 50px;

    .GenericTable {
      width: calc(100% + #{$content-padding-x * 2} + 2px);
      margin-left: -1 * $content-padding-x - 1;

      .GenericTable {
        width: 100%;
        margin-left: 0;
      }
    }
    @media (min-width: map-get($grid-breakpoints, "lg")) {
      padding: $content-padding-x-lg;

      .GenericTable {
        width: calc(100% + #{$content-padding-x-lg * 2} + 2px);
        margin-left: -1 * $content-padding-x-lg - 1;

        .GenericTable {
          width: 100%;
          margin-left: 0;
        }
      }
    }
    .pagination-bottom {
      @include mixin-content-padding-x();
    }
  }
}