.Info .row .col {
  padding: 10px;
}

.Info .content-box .icon {
  font-size: 2rem;
  position: relative;
  top: 2px;
}

.Info .content-box .icon .chain {
  color: #fd3a3a;
}
.Info .content-box .icon .blocks {
  color: #3384f3;
}

.Info .content-box .title {
  font-size: 0.7rem;
  text-transform: uppercase;
}

.Info .content-box .value {
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.Info .content-box .btn {
  font-size: 0.8rem;
  padding: 0.6rem 1.2rem;
  min-width: 140px;
}