.Info .row .col {
  padding: 11px 10px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.Info .content-box .icon {
  width: 64px;
  height: 64px;
  margin-right: 20px;
  font-size: 1.08rem;
}

.Info .content-box.chain .icon {
  color: #fd3a3a !important;
  font-size: 3.5rem;
}

.Info .content-box.chain .content .value {
  font-family: 'Roboto';
}

.Info .content-box.blocks .icon {
  color: #3384f3 !important;
  font-size: 3.5rem;
}

.Info .content-box.transactions .icon {
  font-size: 2.2rem;
}

.Info .content-box.difficulty .icon {
  font-size: 3rem;
}

.Info .content-box.hashrate .icon {
  font-size: 3.25rem;
}

.Info .content-box.wallet .icon,
.Info .content-box.node .icon {
  border: 1px solid;
  border-color: #303030 !important;
  border-radius: 50%;
  position: relative;
  left: 7px;
}

.Info .content-box .title {
  font-size: 0.9rem;
  line-height: 0.9rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  white-space: nowrap;
}

.Info .content-box .value {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.Info .content-box .content-wrapper {
  margin-right: 30px;
}

.Info .content-box .btn {
  font-size: 1.05rem;
  font-weight: 500;
  padding: 1.1rem 1.9rem;
  width: 168px;
}

.Info .content-box .body {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .Info .content-box .body {
    justify-content: flex-start;
    margin-top: 0;
  }
}