.Chart {
  background-color: #0e0e0e;
}

.Chart .title {
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  padding: 25px;
  margin-bottom: 40px;
}

.Chart .title a {
  color: inherit;
  text-decoration: none;
}