.Button {
  &.btn-size-lg {
    font-size: 1.05rem;
    padding: 1.1rem 1.9rem;
  }
  &.btn-size-sm {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  &.btn-dark-2:hover {
    background-color: #202020;
    border-color: #202020;
  }
}