@import 'src/style/variables';

.Filters {
  @include mixin-content-padding-x();
  
  .Dropdown {
    display: inline-block;
    min-width: 150px;
  }

  .selected-filters {
    width: calc(100% - 80px);
  }

  .FilterItem {
    margin-right: 5px;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}