.TransactionAsset {
  margin-bottom: 40px;
}
.TransactionAsset:last-child {
  margin-bottom: 10px;
}
.TransactionAsset .outputs .total {
  display: inline-block;
  padding: 5px;
  color: #bfbfbf;
  border: solid 1px #bfbfbf;
}
.TransactionAsset.output .arrow,
.TransactionAsset.output .outputs .total {
  color: #7bcc3a;
  border-color: #7bcc3a;
  
}
.TransactionAsset.input .arrow,
.TransactionAsset.input .outputs .total {
  color: #fd3a3a;
  border-color: #fd3a3a;
}
.TransactionAsset.input.output .arrow,
.TransactionAsset.input.output .outputs .total {
  color: #fd3a3a;
  border-color: #fd3a3a;
}

.TransactionAsset div[class^="col"],
.TransactionAsset .address {
  padding: 0.75rem;
  border-color: #303030 !important;
}

.TransactionAsset .address {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.TransactionAsset .inputs .address {
  border-color: transparent !important;
}

.TransactionAsset .arrow {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem;
  background-color: #010203;
}