.ItemsTable .negative {
  color: #fd3a3a;
}

.ItemsTable .positive {
  color: #7bcc3a;
}

.ItemsTable .expand {
  cursor: 'pointer';
  padding: 0;
  text-align: center;
  user-select: none;
}

.ItemsTable .rt-tr.expandable {
  cursor: pointer;
}
.ItemsTable .rt-tr.expandable:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.ItemsTable .rt-tr.-padRow,
.ItemsTable .rt-tr.-padRow:hover {
  background-color: transparent;
  cursor: default;
}