@import 'style/sizes';
.Oracle {
  @media (min-width: map-get($grid-breakpoints, "lg")) {
    .SummaryTable,
    .DescriptionTable {
      height: 100%;
    }
  }

  .Filters {
    display: inline-block;
    position: relative;

  }
}