@import 'src/style/variables';
.Oracle {
  @media (min-width: map-get($grid-breakpoints, "lg")) {
    .SummaryTable,
    .DescriptionTable {
      height: 100%;
    }
  }

  .Filters {
    display: inline-block;
    position: relative;

  }

  .CopyProof {
    position: relative;
  
    input {
      width: 100%;
      position: absolute;
      top: -7.5px;
      left: 0;
    }

    button {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}