@import 'style/sizes';
.Navbar {
  font-size: $font-size-lg;
  
  .navbar-brand img.logo {
    height: 40px;
    width: auto;
    margin-right: 10px;
  }

  @media (min-width: map-get($grid-breakpoints, "md")) {
    .navbar-brand img.logo {
      height: 50px;
    }
  }
}