$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$font-size-base: .8125rem; // if browser base is 16px, then this is 13px
$font-size-sm: ($font-size-base * .875);
$font-size-md: ($font-size-base * 1.075);
$font-size-lg: ($font-size-base * 1.23);
$h1-font-size: $font-size-base * 1.845;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.6;
$h4-font-size: $font-size-base * 1.4;
$h5-font-size: $font-size-base * 1.2;
$h6-font-size: $font-size-base;

$font-weight-light: 400;
$font-weight-normal : 400;
$font-weight-bold: 500;

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 2),
    5: ($spacer * 3),
    6: ($spacer * 3.25),
    7: ($spacer * 4.375),
    8: ($spacer * 5),
  ),
  $spacers
);

$border-width: 1px;

$table-padding-x: 32px;
$table-padding-y: 15px;
$table-header-padding-x: $table-padding-x;
$table-header-padding-y: 17px;