@import 'src/style/variables';
.Address {
  h1 .address {
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    color: $gray-400;
    margin-top: 10px;
    line-height: initial;
  }
}