.TxsAssetsTable .negative {
  color: #fd3a3a;
}

.TxsAssetsTable .positive {
  color: #7bcc3a;
}

.TxsAssetsTable .expand {
  cursor: 'pointer';
  padding: 0;
  text-align: center;
  user-select: none;
}