.Footer {
  color: #808080;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.Footer img.logo {
  height: 40px;
  width: auto;
}

.FooterLinks a {
  color: #808080;
}
.FooterLinks a:hover {
  color: #f2f2f2;
}

.FooterSocial {
  font-size: 1rem;
}

.separator {
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .logo-padding {
    padding-left: 30px;
  }

  .separator {
    border-bottom-width: 0;
    border-right-width: 1px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}