@import 'style/colors';

.Footer {
  color: $gray;
  padding: 10px 0;
  img.logo {
    height: 40px;
    width: auto;
  }
  .FooterLinks a {
    color: inherit;
  }
  .FooterLinks a:hover {
    color: $white;
  }
  .separator {
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .SyncNotification {
    display: inline-block;
  }
  .SyncNotification .icon {
    color: #03B358;
  }
  @media (min-width: 992px) {
    .logo-padding {
      padding-left: 30px;
    }
    .separator {
      border-bottom-width: 0;
      border-right-width: 1px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}