@import 'src/style/variables';

.Vote {
  .votes-container {
    margin-top: $section-gap;
  }

  .VoteNoteStartedMsg {
    border: 1px solid $red;
    padding: 40px 0;
    color: #bfbfbf;
    font-weight: $font-weight-bold;
    font-size: $h1-font-size;
  }

  .description {
    margin-top: $section-gap;
  }

  @media (min-width: map-get($grid-breakpoints, "lg")) {
    .description {
      margin-top: 0;
    }
  }
}