@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500');

.App-separator {
  border-bottom: 1px solid #303030;
}

@media (min-width: 992px) {
  .App-separator {
    margin-bottom: 68px !important;
  }
}

section {
  margin-bottom: 70px;
  position: relative;
}

select, input, textarea {
  background-color: transparent !important;
  color: #999999 !important;
  border-color: #303030 !important;
}

textarea {
  min-height: 150px;
}