html {
  font-size: 0.9rem;
}

.no-text-transform {
  text-transform: initial !important;
}

.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-all;
  word-break: break-word;
}