@import 'src/style/variables';

.Vote {
  .votes-container {
    margin-top: $section-gap;
  }

  .table-zen {
    margin-bottom: 0;
  }

  .vote-after-snapshot {
    padding: 40px 0;
    color: $red;
    font-weight: $font-weight-bold;
    font-size: $h3-font-size;
  }

  .table-bg-wrapper {
    height: 100%;
    background-color: $table-bg;
  }

  .TallyTable {
    margin-top: 1rem;
    @media (min-width: map-get($grid-breakpoints, "lg")) {
      margin-top: 0;
    }

    .header-table{
      th.text-right {
        padding-right: $content-padding-x + 11;
      }
      @media (min-width: map-get($grid-breakpoints, "lg")) {
        th.text-right {
          padding-right: $content-padding-x-lg;
        }
      }
    }
    .body-table {
      overflow: auto;
      max-height: 220px;
      @include mixin-zen-scrollbar();
  
      @media (min-width: map-get($grid-breakpoints, "lg")) {
        td.text-right {
          padding-right: $content-padding-x-lg - 11;
        }
      }
    }
  }
}